[submodule "third_party/Nikki"]
	path = third_party/Nikki
	url = https://github.com/PeterKelemen2/Nikki.git
[submodule "third_party/Endscript"]
	path = third_party/Endscript
	url = https://github.com/PeterKelemen2/Endscript.git
[submodule "third_party/CoreExtensions"]
	path = third_party/CoreExtensions
	url = https://github.com/PeterKelemen2/CoreExtensions.git
